h1{  
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #7c7c7c;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.navbar{
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}
.navbar-inverse{
    background-color: black;
    background-image: none;
}
.form-control{
    border-radius: 0px;
}
.btn{
    border-radius: 0px;
}
.header-image{
    margin-bottom: 20px;
}
.bullet-section{
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.bullet{
    margin: 40px 20px
}
.section-title{
    margin: 20px 0;
    color: hsla(203, 64%, 51%, 1);
    border-bottom: 1px solid hsla(203, 64%, 51%, 1);
}
.btn-primary{
    background-color: #fff;
    background-image: none;
    color: hsla(203, 64%, 51%, 1);
    text-shadow: none;
    border: 1px solid hsla(203, 64%, 51%, 1);
    border-radius: 0px;
}
.btn-primary:hover{
    background-color: hsla(203, 64%, 51%, 1) !important;
    background-image: none;
    border: 0px;
    border-radius: 0px;
}
.card-section{
    margin-bottom: 50px;
}
.card-row{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
}
.intro{
    padding-left: 5px;
    padding-right: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

/* Add some padding inside the card container */
.container {
    padding: 20px 20px;
    width: 250px;
    word-break: break-all;
}
.course-description{
    color: #9c9c9c;
}
.course-date{
    color: #9c9c9c;;
}
.panel-default{
    border-radius: 0px;
    border:0.5px solid #ebebeb;
}
.panel-default>.panel-heading{
    background-color: #fff;
    background-image: none;
    color: hsla(203, 64%, 51%, 1);
    border-bottom: 0.5px solid #ebebeb;
}
.footer-border{
    border-top: 1px solid #9c9c9c;
    padding-top: 30px;
}